/* Styles pour les miniatures */
// .thumbnails {
//     display: flex;
//     flex-wrap: wrap;
//   }
  
//   .thumbnails img {
//     margin: 5px;
//     cursor: pointer;
//     max-width: 100px; /* Ajustez la largeur maximale des miniatures */
//   }
  
//   /* Styles pour les images agrandies */
//   .enlarged-image {
//     display: none;
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     z-index: 999;
//   }
  
//   .enlarged-image img {
//     max-width: 80%; /* Ajustez la largeur maximale de l'image agrandie */
//   }
  
.zoom {
  max-height:400px;
  margin:auto;
  }
  .zoom p {
  text-align:center;
  }
  .zoom img {
  min-width: 150px;
  max-height:112px;
  }
  .zoom img:hover {
  min-width:600px; //400
  max-height:450px; //300
  } 
  .container {
    display: flex; /* Utilisation d'un conteneur flexible pour diviser en trois parties */
    justify-content: space-between; /* Espacement égal entre les parties */
    width: 100%; /* Largeur totale de la page */
  }
  
  .left, .center, .right {
    flex: 1; /* Chacune des parties prendra un tiers de l'espace disponible */
    padding: 10px; /* Espacement interne optionnel */
    border: 1px solid #ccc; /* Bordures pour distinguer les parties (optionnel) */
    box-sizing: border-box; /* Inclure la bordure dans la largeur et la hauteur */
  }
  