
<p-button  routerLink="../garage" styleClass="p-button-secondary p-button-text">Rechercher Garage</p-button> 
<p-button  routerLink="../maison" styleClass="p-button-secondary p-button-text">Rechercher Maison</p-button> 
<p-button  routerLink="../addmaison" styleClass="p-button-secondary p-button-text">Ajouter Maison</p-button> 
<p-button  routerLink="../addgarage" styleClass="p-button-secondary p-button-text">Ajouter Garage</p-button> 
<hr>
<div class="content">
    <h1 class="center">Bienvenue chez Frederokiko-location</h1>
    <p class="center">Votre destination pour des locations exceptionnelles !</p>
    <p class="center">Découvrez un monde de possibilités avec notre plateforme de location de garages, de maisons et d'appartements. Chez [Nom de votre site], nous faisons de la recherche de votre lieu de vie idéal un jeu d'enfant. Que vous soyez à la recherche d'un espace de stationnement sécurisé, d'une maison spacieuse ou d'un appartement moderne, nous avons ce qu'il vous faut. </p>
    <p class="center">Pourquoi choisir Frederokiko-location ?</p>
    <p class="center">Variété de choix: Explorez une vaste sélection de garages, de maisons et d'appartements dans les quartiers les plus prisés. Trouvez l'endroit qui correspond parfaitement à vos besoins et à votre style de vie. </p>
    <p class="center">Facilité de recherche: Notre interface conviviale vous permet de rechercher, de filtrer et de comparer les offres en un rien de temps. Trouvez la location idéale en quelques clics. </p>
    <p class="center">Transparence totale: Chez Frederokiko-location, nous croyons en la transparence. Tous nos annonces sont accompagnées de photos, de détails complets et de prix clairs. Pas de surprises désagréables.</p>
    <p class="center">Sécurité et fiabilité: Nous travaillons avec des propriétaires vérifiés, ce qui garantit que votre expérience de location se déroule en toute sécurité et en toute confiance. </p>
    <p class="center">Assistance personnalisée: Notre équipe dévouée est là pour répondre à toutes vos questions et vous guider à chaque étape de votre parcours de location. </p>
    <p class="center">Préparez-vous à vivre dans le lieu de vos rêves. Explorez notre catalogue dès aujourd'hui et trouvez le garage, la maison ou l'appartement qui vous correspond. " </p>  
    <p></p>
    <p class="center">Frederokiko-location : la clé de votre prochaine aventure.</p>
</div>